<section class="hero is-link">
      <div class="hero-body">
        <div class="columns">
          <div class="column is-12">
            <div class="container content">              
              <i class="is-large fas fa-code"></i>
              <h1 class="title">Code in a
                <em>Job</em> You Love</h1>
              <h3 class="subtitle">
                Build Your Engineering Team, <em>AlienRoom</em> is the easiest way to hire Software Developers, DevOps Engineers, Data Scientists, CyberSecurity Experts and Engineering Leaders.
              </h3>
              <!-- 
              <a href="/" class="button is-rounded is-large">
                <span class="icon">
                    <i class="fas fa-envelope-square"></i>
                </span>
                <span>Contact</span>
              </a> -->
            </div>
          </div>
        </div>
      </div>
</section>    

<section class="section has-background-info">
    <div class="container ">
        <div class="columns">  
        <div class="column is-half">
            
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <a href="/auth/signup" class="button is-rounded is-large">
          <h1 class="title">
            Find Me a Job!
          </h1>
          </a>
        </div>
      </div>
    </section>    
        
        </div>

    <div class="column is-half">
            
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <a href="/auth/signup-jobs" class="button is-rounded is-large">
          <h1 class="title">
            I'm Hiring
          </h1>
          </a>          
        </div>
      </div>
   </section>         
    </div> 
    </div> 
    </div> 
 </section>     
      
         


