<form action="/job/create" method="post" enctype="multipart/form-data">
  <label>Name</label>
  <input type="text" name="name">
  <br/>
  <label>Type</label>
  <input type="text" name="type">
  <br/>
  <label>Capacity</label>
  <input type="number" name="capacidad">
  <br/>
  <label>Open Hour</label>
  <input type="text" name="horarioAp">
  <br/>
  <label>Close Hour</label>
  <input type="text" name="horarioCi">
  <br/>
  <label>Slogan</label>
  <input type="text" name="slogan">
  <br/>
  <label>Logo</label>
  <input type="file" name="image">
  <br/>
  <input type="submit">
</form>